/* rose : #eabed6 */
/* blue pastel : #8ebdd0 */

body {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

body > * {
  font-family: 'Montserrat', sans-serif;
}

textarea {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Rakkas', cursive;
}

h2 {
  font-family: 'Rakkas', cursive;
}

h3 {
  font-family: 'Rakkas', cursive;
}

.wrapper {
  padding-top: 54px;
}

.top {
  display: grid;
  grid-template-columns: min-content auto auto;
  align-items: center;
  height: 92px;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
}

.logo > img {
  padding: 30px;
  width: 120px;
}

.social {
  justify-self: flex-end;
  padding-right: 30px;
}

.social > img {
  width: 30px;
}

header {
  background-image: url('../img/banner_1920px.png');
  background-color: #EFC0B6;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 300px;
}

header > .estampe {
  width: 80px;
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  top: 337px;
}

header > h1 {
  color: white;
  padding-bottom: 70px;
  padding-left: 35px;
  padding-top: 85px;
}

h2 {
  font-size: 28px;
}

.intro {
  padding-top: 45px;
  text-align: center;
}

.intro > p {
  font-size: 17px;
  line-height: 25px;
  color: gray;
  width: 80vw;
  margin: auto;
}

.intro > h2 {
  width: 250px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.features-background {
  background-image: url('../img/motif_bande_noire.svg');
  background-repeat: repeat-x;
  padding-top: 35px;
  margin-top: 40px;
}

.features-list {
  padding-top: 20px;
  margin: auto;
  color: white;
  background-color: black;
  width: 80vw;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-items: center;
}

.features-list > h2 {
  width: 250px;
  padding: 20px;
  margin: auto;
}

.feature {
  padding-top: 40px;
}

.feature > img {
  width: 70px;
}

.feature > p {
  width: 270px;
  line-height: 27px;
  padding-top: 15px;
}

button {
  border: #8ebdd0 solid 1px;
  border-bottom: white 4px dashed;
  border-radius: 8px;
  background-color: #8ebdd0;
  color: white;
  height: 50px;
  width: 170px;
  font-size: 20px;
  font-family: 'Rakkas', cursive;
}

button.coming-soon {
  position: relative;
  top: 18px;
  margin-top: 45px;
}

.form {
  padding-top: 50px;
  width: 80vw;
  margin: auto;
  padding-bottom: 130px;
}

.form > h2 {
  text-align: center;
}

.fields {
  display: grid;
  grid-template-columns: auto;
}

form > label {
  display: block;
  font-weight: 700;
  padding: 14px 0;
}

label > input,textarea   {
  display: block;
  margin: 15px 0;
  box-sizing: border-box;
  width: 100%;
  padding: 13px;
  border: lightgray 1px solid;
  border-radius: 10px;
}

.cgu {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: flex-start;
  grid-gap: 15px;
  padding-bottom: 45px;
}

.cgu > input {
  border: lightgray 1px solid;
  border-radius: 10px;
}

.cgu > p {
  color: gray;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

button.form-button {
  border: #eabed6 solid 1px;
  border-bottom: white 4px dashed;
  background-color: #eabed6;
  float: right;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* footer > * {
  padding: 20px 0;
} */

footer > p > a {
  color: white;
}

footer > img {
  width: 100px;
  padding-top: 50px;
}

footer > .samoa > img {
  width: 160px;
}

@media only screen and (min-width: 762px) {

  header > .estampe {
    top: 653px;
  }

  header {
    height: 605px;
  }

  header > h1 {
    padding-top: 185px;
  }

  button {
    height: 60px;
    width: 210px;
    font-size: 23px;
  }

.form {
    width: 60vw;
}

  .intro > h2 {
    width: 320px;
  }

  .fields {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
  }

  .features-background {
    padding-top: 65px;
  }

  .features-list {
    width: 100%;
  }

  .features-list > h2 {
    width: 100%;
    font-size: 36px;
  }

  .list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 36px;
  }
}
